body {
  font-family: Arial;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ⭐ SMALL LOGIN BOX */
.login-box {
  background: white;
  width: 280px;          /* small box */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 15px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
}

button {
  width: 95%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #45a049;
}

#message {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
